<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block title %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Docket</span>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('todo') }}">Todo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container text-center">
            {% block content %} {% endblock %}
        </div>
    </div>
    <div class="footer text-center">
        <p>Created by Kevin Tuck | Download the code <a href="https://github.com/keva161/Docket">here</a> | <a href="http://kevintuck.co.uk/">Visit my website</a> | Run into problems? Connect with me on <a href="http://twitter.com/keva161">Twitter</a>.</p>
    </div>
    </body>
</html>