{%  extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="logo">
    <img src="/static/img/logo.png">
</div>
<div class="intro-text">
    <h4>Docket is fully fledged Todo web application for you to practise your test automation skills.</h4>
</div>
<hr>
<div class="table-responsive-xl">
<table class="table">
  <tbody>
    <tr>
        <td class="col-sm-3"><p><strong>C</strong>reate new users and todo items <img src="/static/img/checked-box_resized.png"></p></td>
    </tr>
    <tr>
        <td class="col-sm-3"><p><strong>R</strong>ead your todo's via the web application and API protocol <img src="/static/img/checked-box_resized.png"></p></td>
    </tr>
    <tr>
        <td class="col-sm-8"><p><strong>U</strong>pdate your user details <img src="/static/img/checked-box_resized.png"></p></td>
    </tr>
    <tr>
        <td class="col-sm-8"><p><strong>D</strong>elete todo's and account from the database <img src="/static/img/checked-box_resized.png"></p></td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}