{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <div class="page-header">
            <h1>Sign in</h1>
            <small>Enter your details below to gain access to your todo list</small>
        </div>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% for error in form.username.errors %}
            <div id="error_message"><span style="color: red;">{{ error }}</span></div>
            {% endfor %}
            <div class="form-group">
                {{ form.username(class_="form-control") }}
            </div>
            <div class="form-group">
                {% for error in form.password.errors %}
                <div id="error"><span style="color: red;">{{ error }}</span></div>
                {% endfor %}
                {{ form.password(class_="form-control") }}
            </div>
            <div class="form-group">
                <div class="text-left">
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </div>
            </div>
                {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
</div>
</body>
{% endblock %}