{%  extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">
    <div id="container">
        <div id="profile_container">
            <form>
                <div class="form-group">
                    <label>Username:</label>
                    <p>{{ User.username }}</p>
                    <label>Email:</label>
                    <p>{{ User.email }}</p>
                    <label>API Token:</label>
                    <p>{{ User.api_token }}</p>
                </div>

            </form>
            <table class="table">

  <tbody>
    <tr>
      <th scope="row">Username</th>
      <td>{{ User.username }}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{ User.email }}</td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td>{{ User.password }}</td>
    </tr>
  <tr>
      <th scope="row">API Token</th>
      <td>{{ User.api_token }}</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}