{%  extends "base.html" %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<p>What do you need to do today?</p>
<h1>New Todo</h1>
<form action="" method="post">
{{ form.hidden_tag() }}
<p>
    {{ form.todo.label }}<br>
    {{ form.todo(size=32) }}<br>
    <p>{{ form.submit }}</p>
    </form>
</p>
<p>Here are your todos</p>
<div id="todoList">
    {% for todo in todos %}
        <div id="todo-item"><p>{{ todo.body }}</p></div>
    {% endfor %}
</div>
{% endblock %}